.input-div {
  position: relative;
  border-radius: 4px;
  margin-top: 1rem;
  display: flex;
  width: 90%;
}
.input-div:first-child {
  margin-top: 1.8rem;
}
.inputClass {
  height: 2.3rem;
  width: 100%;
  padding: 1rem 1.5rem 0 1.5rem;
  position: relative;
  background-color: rgb(255, 255, 255);
  outline: none;
  border: 0;
  color: #5f5f5f;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  border-radius: 2px;
  border: 1px solid #8d8d8d4b;
  transition: all 200ms ease-in-out;
}
.placeholder-input {
  position: absolute;
  left: 1.5rem;
  top: 33%;
  color: #8d8d8d;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  transition: all 100ms ease-in-out;
  user-select: none;
}
.placeholder-input:hover {
  cursor: text;
}
.inputClass:focus {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 136, 255);
}
.inputClass:focus + .placeholder-input {
  top: 8%;
  font-size: 11px;
}
.inputClass:not(:placeholder-shown) + .placeholder-input {
  top: 8%;
  font-size: 11px;
}
.inputClass:not(:placeholder-shown) {
  border: 1px solid rgb(0, 136, 255);
}
